extends layout

block content
  h1= title
  p Welcome to #{title}


  ul
    each post in allPosts
      p
        li UserID: #{post.userId}
        li ID: #{post.id}
        li Title: #{post.title}
        li Body: #{post.body}
